#nav .list-inline
{
    /* center navigation pills */
    display: inline-block;
    text-align: center;
}


body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}


